body {
  background-image: url(./assets/images/Home.png);
  color: var(--color__secondary);
  background-repeat: repeat;
  background-size: 100%;
}

.headers {
  font-size: 4rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 30%);
}

.headers_big {
  font-size: 6rem;
  box-shadow: 0px 0px 0px 8px black;
  text-shadow: 3px 3px rgba(0, 0, 0, 30%);
}

.font_color {
  color: var(--color__primary__2);
}

.container {
  height: 100vh;
}

.container_about {
  width: 90%;
  margin: auto;
}


.image {
  width: 550px;
  height: 450px;
}




/*=======================Navbar============================*/

.bg {
  background-color: var(--color__primary__2);

}

.nav_text {
  color: var(--color__secondary);
  font-weight: 500;
}

.nav {
  width: 90%;
}

li {
  position: relative;
}

li:after {
  content: "";
  position: absolute;
  background-color: var(--color__secondary);
  height: 2px;
  width: 0;
  left: 0px;
  bottom: 1px;
  transition: .3s;

}

li:hover::after {
  width: 100%;
  color: var(--color__secondary);
}

.active ::after {
  content: "";
  color: var(--color__secondary);
  height: 2px;
  width: 100%;
}

a {
  padding: 1rem 0;
  text-decoration: none;
}

.name {
  font-size: 4rem;
}

.icons {
  font-size: 4rem;
}

/* .navbar :hover {
  color: var(--color__secondary);
} */

/*=======================Home============================*/

.name {
  text-shadow: 3px 3px rgba(0, 0, 0, 30%);
}

h1 {
  color: var(--color__primary__2);
}

.container_home {
  height: 100vh;
}


.btn_custom {
  position: relative;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: var(--color__secondary);
  transition: all .3s ease-in-out;
  box-shadow: -5px 5px #333;
  font-size: 17px;
  font-weight: 600;
  color: var(--color__primary__2);
  cursor: pointer;
  text-decoration: none;
}

.btn_custom:hover {
  background-color: var(--color__primary__2);
  color: var(--color__secondary);
  box-shadow: 0px 0px #333;
}

.row {
  width: 90%;
}

.image {
  width: 450px;
}

.intro {
  margin-top: 4rem;
}

/*=======================About============================*/
.icons {
  background-color: var(--color__primary__2);
}

.bio {
  text-align: justify;
  font-size: 1.5rem;
  padding: 3rem;
}

.skills_icons {
  padding: 2rem;
}



/*=======================Projects============================*/

.container_projects {
  width: 90%;
}

.form {
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: var(--color__secondary);

  justify-content: center;
  gap: 30px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.title {
  color: var(--color__primary__2);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.title span {
  color: var(--color__primary__2);
  font-weight: 600;
  font-size: 17px;
}




/*===================Contacts=========================*/

.input {
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--color__secondary);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--color__primary__2);
  padding: 5px 10px;
  outline: none;
  resize: none;
}

.input_width {
  width: 100%;
}

.container_contact {
  width: 70%;
  margin: auto;
}


/*==============Footer==============*/

.footer_icons {
  cursor: pointer;

}

.footer {
  top: 10rem;
}


@media only screen and (max-width:600px) {

  .name,
  .headers,
  .icons {
    font-size: 2rem;
  }

  .about_section {
    padding: 0 2rem;
  }

  .container_projects {
    flex-wrap: wrap;
  }

  .container_contact {
    width: 100%;
  }

  .bio {
    text-align: justify;
    font-size: 0.7rem;
    padding: 0;
  }

  .skills_icons {
    padding: 0;
    justify-content: space-between;
  }

  p {
    font-size: .5rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .headers_big {
    font-size: 2rem;
  }
}



@media only screen and (max-width:1200px) {

  .name,
  .headers,
  .icons {
    font-size: 2rem;
  }

  .container_home {
    width: 100%;
    height: 100vh;
  }

  .container_projects {
    flex-wrap: wrap;
  }

  .container_contact {
    width: 100%;
  }



  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .headers_big {
    font-size: 2rem;
  }

  .image {
    width: 300px;
    height: 300px;
  }

}


/* @media only screen and (min-width:1200px) {



  .project_heading {
    height: 220px;
  }







  .container_projects {
    flex-wrap: nowrap;
  }

 

} */