* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Space Mono', monospace;
}

:root {
  --color__primary: #867070;
  --color__primary__2: #4B4A5A;
  --color__secondary: #D5B4B4;
  --color__tertiary: #E4D0D0;
  --color__tertiary_variant: #F5EBEB;
}